<?xml version="1.0"?>
<config>
  <parent-provides>
    <service name="CAP"/>
    <service name="CPU"/>
    <service name="IO_MEM"/>
    <service name="IO_PORT"/>
    <service name="IRQ"/>
    <service name="LOG"/>
    <service name="PD"/>
    <service name="RAM"/>
    <service name="RM"/>
    <service name="ROM"/>
    <service name="SIGNAL"/>
  </parent-provides>
  <default-route>
    <any-service>
      <parent/>
      <any-child/>
    </any-service>
  </default-route>
  <default caps="300"/>
  <start name="bitstream_loader-1">
    <binary name="bitstream_loader"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="Dpr"/>
    </provides>
    <route>
      <service name="ROM">
        <child name="fs_rom-1"/>
      </service>
      <service name="Timer">
        <parent/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config verbose="yes">
      <file module="1" name="config_debayer_pblock_reconf_region_0_partial_pcap.bin" region="0" size="533732"/>
      <file module="1" name="config_debayer_pblock_reconf_region_1_partial_pcap.bin" region="1" size="2039292"/>
      <file module="2" name="config_rectify_pblock_reconf_region_1_partial_pcap.bin" region="1" size="2039292"/>
      <file module="3" name="config_stereo_matching_pblock_reconf_region_1_partial_pcap.bin" region="1" size="2039292"/>
      <file module="4" name="config_disp2pc_pblock_reconf_region_0_partial_pcap.bin" region="0" size="533732"/>
      <file module="4" name="config_disp2pc_pblock_reconf_region_1_partial_pcap.bin" region="1" size="2039292"/>
    </config>
  </start>
  <start name="camera-1">
    <binary name="camera"/>
    <resource name="RAM" quantum="36M"/>
    <provides>
      <service name="ROM"/>
    </provides>
    <route>
      <service name="GPIO">
        <child name="gpio_drv-1"/>
      </service>
      <service name="I2C">
        <child name="i2c_drv-1"/>
      </service>
      <service name="PL_IRQ">
        <child name="pl_irq_drv-1"/>
      </service>
      <service label="trigger_remote" name="ROM">
        <child name="remote_rom_client"/>
      </service>
      <service name="Timer">
        <parent/>
      </service>
      <service name="VDMA">
        <child name="vdma_drv-1"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <dst_rom name_left="img_left" name_right="img_right" size="0x140000"/>
      <trigger_rom name="trigger_remote"/>
    </config>
  </start>
  <start name="fatfs_fs-1">
    <binary name="fatfs_fs"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="File_system"/>
    </provides>
    <route>
      <service name="Block">
        <child name="sd_card_drv-1"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <default-policy root="/" writeable="yes"/>
    </config>
  </start>
  <start name="fs_rom-1">
    <binary name="fs_rom"/>
    <resource name="RAM" quantum="16M"/>
    <provides>
      <service name="ROM"/>
    </provides>
    <route>
      <service name="File_system">
        <child name="fatfs_fs"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
  </start>
  <start name="gpio_drv-1">
    <binary name="zynq_gpio_drv"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="Gpio"/>
    </provides>
    <route>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <gpio addr="0x41200000"/>
    </config>
  </start>
  <start name="hw_accelerator-1">
    <binary name="hw_accelerator"/>
    <resource name="RAM" quantum="64M"/>
    <provides>
      <service name="ROM"/>
    </provides>
    <route>
      <service name="Dpr">
        <child name="bitstream_loader-1"/>
      </service>
      <service name="GPIO">
        <child name="gpio_drv-1"/>
      </service>
      <service name="PL_IRQ">
        <child name="pl_irq_drv-1"/>
      </service>
      <service label="img_left" name="ROM">
        <child name="camera"/>
      </service>
      <service label="img_right" name="ROM">
        <child name="camera"/>
      </service>
      <service name="Timer">
        <parent/>
      </service>
      <service name="VDMA">
        <child name="vdma_drv-1"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <region id="0" irq_num="6"/>
      <region id="1" irq_num="7"/>
      <vdma id="3" irq_num="3"/>
      <vdma id="4" irq_num="5"/>
      <src name="img_left"/>
      <src name="img_right"/>
      <dst name="img_rectified_left" rom_size="0x400000"/>
      <dst name="img_rectified_right" rom_size="0x400000"/>
      <dst name="img_disparity" rom_size="0x400000"/>
      <dst name="img_pointcloud" rom_size="0x1300000"/>
      <dst name="img_pc_small" rom_size="0x400000"/>
      <scheduler>
        <action src_name="img_left" type="waitfor_irq"/>
        <action src_name="img_right" type="waitfor_irq"/>
        <action algorithm="debayer" region="0" type="reconfigure"/>
        <action algorithm="rectify" region="1" type="reconfigure"/>
        <action config="left" region="1" tdest="0" type="task">
          <dst amount="3" name="img_rectified_left"/>
        </action>
        <action region="0" tdest="4" type="task">
          <src1 amount="1" name="img_left" vdma="3"/>
        </action>
        <action region="0" type="waitfor_irq"/>
        <action region="1" type="waitfor_irq"/>
        <action config="right" region="1" tdest="0" type="task">
          <dst amount="3" name="img_rectified_right"/>
        </action>
        <action region="0" tdest="4" type="task">
          <src1 amount="1" name="img_right" vdma="3"/>
        </action>
        <action region="0" type="waitfor_irq"/>
        <action region="1" type="waitfor_irq"/>
        <action algorithm="stereo_matching" region="1" type="reconfigure"/>
        <action region="1" tdest="0" type="task">
          <src1 amount="3" name="img_rectified_left" vdma="3"/>
          <src2 amount="3" name="img_rectified_right" vdma="4"/>
          <dst amount="1" name="img_disparity"/>
        </action>
        <action region="1" type="waitfor_irq"/>
        <action algorithm="disp2pc" region="0" type="reconfigure"/>
        <!--action type="task" region="0" tdest="0">
					<src1 name="img_disparity" vdma="3" amount="1" />
					<src2 name="img_rectified_left" vdma="4" amount="3"/>
					<dst name="img_pointcloud" amount="16"/>
				</action>
				<action type="waitfor_irq" region="0"/>
				<action type="copy" src_name="img_pointcloud" dst_name="img_pc_small"/-->
        <action dst_name="img_rectified_right" type="update"/>
        <action dst_name="img_disparity" type="update"/>
      </scheduler>
    </config>
  </start>
  <start name="i2c_drv-1">
    <binary name="zynq_i2c_drv"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="I2C"/>
    </provides>
    <route>
      <any-service>
        <parent/>
      </any-service>
    </route>
  </start>
  <start name="nic_bridge-1">
    <binary name="nic_bridge"/>
    <resource name="RAM" quantum="32M"/>
    <provides>
      <service name="Nic"/>
    </provides>
    <route>
      <service name="Nic">
        <parent/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
  </start>
  <start name="pl_irq_drv-1">
    <binary name="zynq_pl_irq_handler"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="Pl_irq"/>
    </provides>
    <route>
      <service name="Timer">
        <parent/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <irq number="61"/>
      <irq number="62"/>
      <irq number="63"/>
      <irq number="64"/>
      <irq number="65"/>
      <irq number="66"/>
      <irq number="67"/>
      <irq number="68"/>
      <irq number="84"/>
    </config>
  </start>
  <start name="remote_rom_client-1">
    <binary name="remote_rom_client"/>
    <resource name="RAM" quantum="32M"/>
    <provides>
      <service name="ROM"/>
    </provides>
    <route>
      <service name="Nic">
        <child name="nic_bridge-1"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
       <remote_rom binary="false" dst="192.168.0.111" name="trigger_remote" src="192.168.0.110" />
    </config>
  </start>
  <start name="remote_rom_server_left">
    <binary name="remote_rom_server"/>
    <resource name="RAM" quantum="65M"/>
    <route>
      <service label="img_disparity" name="ROM">
        <child name="hw_accelerator"/>
      </service>
      <service name="Nic">
        <child name="nic_bridge"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <remote_rom binary="true" dst="192.168.0.111" localname="img_disparity" name="image_remote_left" src="192.168.0.110"> </remote_rom>
    </config>
  </start>
  <start name="remote_rom_server_right">
    <binary name="remote_rom_server"/>
    <resource name="RAM" quantum="65M"/>
    <route>
      <service label="img_rectified_right" name="ROM">
        <child name="hw_accelerator"/>
      </service>
      <service name="Nic">
        <child name="nic_bridge"/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <remote_rom binary="true" dst="192.168.0.111" localname="img_rectified_right" name="image_remote_right" src="192.168.0.110"> </remote_rom>
    </config>
  </start>
  <start name="sd_card_drv-1">
    <binary name="sd_card_drv"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="Block"/>
    </provides>
    <route>
      <any-service>
        <parent/>
      </any-service>
    </route>
  </start>
  <start name="vdma_drv-1">
    <binary name="zynq_vdma_drv"/>
    <resource name="RAM" quantum="1M"/>
    <provides>
      <service name="Vdma"/>
    </provides>
    <route>
      <service name="Timer">
        <parent/>
      </service>
      <any-service>
        <parent/>
      </any-service>
    </route>
    <config>
      <vdma addr="0x43000000"/>
      <vdma addr="0x43010000"/>
      <vdma addr="0x43020000"/>
      <vdma addr="0x43100000"/>
      <vdma addr="0x43110000"/>
    </config>
  </start>
</config>
